
<!DOCTYPE html>
<html>
<head>
    <title>Lista de Equipos</title>
</head>
<body>
    <h1>Lista de Equipos</h1>
    <ul>
        {% for equipo in equipos %}
            <li>{{ equipo.nombre }}</li>
        {% empty %}
            <li>No hay equipos disponibles.</li>
        {% endfor %}
    </ul>
</body>
</html>
