<button class="btn btn-primary" (click)="open(classic,'' , '')">
 Create
</button>
<ng-template #classic let-c="close" let-d="dismiss">
    <div class="modal-header justify-content-center">
        <button type="button" class="close" (click)="d('Cross click')">
            <i class="now-ui-icons ui-1_simple-remove"></i>
        </button>
        <h4 class="title title-up">Modal title</h4>
    </div>
    <div class="modal-body">
        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default">Nice Button</button>
        <button type="button" class="btn btn-danger" (click)="c('Close click')">Close</button>
    </div>
</ng-template>

<button class="btn btn-warning" (click)="open(modal_mini, 'modal_mini', 'sm')">
   Launch Modal Mini
</button>
<ng-template #modal_mini let-c="close" let-d="dismiss">
  <div class="modal-header justify-content-center">
      <div class="modal-profile">
          <i class="now-ui-icons users_circle-08"></i>
      </div>
  </div>
  <div class="modal-body">
      <p>Always have an access to your profile</p>
  </div>
  <div class="modal-footer">
      <button type="button" class="btn btn-link btn-neutral">Back</button>
      <button type="button" class="btn btn-link btn-neutral" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
