tr:hover {background-color: coral;}


.divTabla{

    height:500px;
    width: 100%;
    background-color: white;
    color: black;
    display: block;
    
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: scroll;
}