<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
      <div class="dropdown button-dropdown">
        <div ngbDropdown>
          <a class="dropdown-toggle" ngbDropdownToggle>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
              <span class="button-bar"></span>
          </a>
           <div ngbDropdownMenu>
             <a class="dropdown-header">Dropdown header</a>
             <a class="dropdown-item" href="#">Action</a>
             <a class="dropdown-item" href="#">Another action</a>
             <a class="dropdown-item" href="#">Something else here</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">Separated link</a>
             <div class="dropdown-divider"></div>
             <a class="dropdown-item" href="#">One more separated link</a>
           </div>
         </div>
      </div>
        <div class="navbar-translate">
              <a class="navbar-brand" [routerLink]="['/index']" placement="bottom" ngbTooltip="Welcome to BYO">
                By Your Orders
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation" (click)="sidebarToggle()">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" data-nav-image="assets/img/blurred-image-1.jpg" data-color="orange">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" (click)="Departamentos()" target="_blank">
                        <i class="now-ui-icons business_badge"></i>
                        <p>Departamentos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Puesto()" target="_blank">
                        <i class="now-ui-icons business_bulb-63"></i>
                        <p>Puestos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Modelos()" target="_blank">
                        <i class="now-ui-icons design_app"></i>
                        <p>Modelos</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="Empleado()" target="_blank">
                        <i class="now-ui-icons users_single-02"></i>
                        <p>Empleados</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" target="_blank">
                      <i class="now-ui-icons users_single-02"></i>
                      <p>Profile</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-neutral" href="#" target="_blank">
                        <i class="now-ui-icons gestures_tap-01"></i>
                        <p>Registrar Empresa</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
